.hero-container.blhero2{style: "background: url(/images/home/san-francisco-hi-res.jpg) no-repeat bottom center / cover;"}
  .hero-content.u-margin-bottom-xs
    .row
      .col-md-8{style: "margin-bottom: 85px;"}
        %h1.bold-headline.margin-top0.hero-item
          Cyber Monday Deal: 50% off GitLab Commit tickets
        %h3.text-left Use code <code>CYBERMONDAY</code>
        .hero-item.text-left
          %p Join us in San Francisco on January 14, 2020
        .buttons-container.margin-top20.hero-item.u-margin-top-sm
          %a.btn.cta-btn.large.orange-light{ href: "/events/commit/", style: "min-width: 200px;" }
            Register today
      .col-md-4.special-link
        = image_tag "/images/home/gitlab-commit-san-francisco-stacked-logo-white.svg", style: "max-width: 320px;"

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

:css
  .simple-cta.pullup {
    border-color: transparent !important;
  }
  .hello-bar-wrapper {
    display: none !important;
  }
  .hero-container .hero-item {
    transform: none;
  }
