.contact-sales-container
  %h2
    Contribute to GitLab
  %p
    Help us continue building the single solution for the DevOps lifecycle.
  = link_to "/community/contribute/", class: "btn cta-btn orange just-commit" do
    Start contributing
